@font-family-sans: Roboto,Arial,Helvetica,sans-serif;
@font-family-mono: 'Roboto Mono','Courier New',monospace;
@font-family-serif: Georgia,Cambria,'Times New Roman',Times,serif;
@bgcolor-body: #b0b2b7;
@bgcolor-pagewrap: transparent;

@text-color-body: #000;

@width-page-wrap: 860px;

@bgcolor-pass: #008000;
@bgcolor-fail: #c00;

@text-color-pass: lighten(@bgcolor-pass, 50%);
@text-color-fail: lighten(@bgcolor-fail, 50%);

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: @font-family-sans;
  background-color: @bgcolor-body;
  font-size: 100%;
  color: @text-color-body;
}

a {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0.3rem 0 0.2rem;
}

.pagewrap {
  width: 100%;
  max-width: @width-page-wrap;
  margin: 0 auto;
  text-align: left;
  padding: 0 3%;
  background-color: @bgcolor-pagewrap;
}

pre, code {
  font-family: @font-family-mono;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  padding-bottom: 0.5rem;
  background-color: fadeout(darken(@bgcolor-body, 50%), 10%);

  h1 {
    font-size: 1.5rem;
    line-height: 1.2;
    color: lighten(@bgcolor-body, 20%);
  }

  p {
    color: lighten(@bgcolor-body, 10%);
  }
}

#ua-target {
  font-family: @font-family-mono;
  color: #fff;
  margin: 1rem 0;

  &.fail {
    color: @text-color-fail;
  }
}

#test-target {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

#score-target {
  .pass {
    color: #6c6;
  }

  .fail {
    color: #f99;
  }
}

.section {

  h2 {
    font-size: 1.2rem;
    color: darken(@bgcolor-body, 50%);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0.1rem 0;
      padding: 0.2rem;
      line-height: 1.0;
      display: block;
      width: 100%;
      min-height: 2.2rem;
      cursor: pointer;

      code {
        color: #fff;
      }

      .row {
        display: table-row;
        width: 100%;

        span {
          display: table-cell;
          height: 100%;
          vertical-align: middle;
        }
      }

      .descr {
        code {
          font-size: 105%;
        }
      }

      .checkmark {
        width: 2.4rem;
        text-align: center;

        &::before {
          font-size: 2rem;
        }
      }

      &.pass {
        background-color: @bgcolor-pass;
        color: @text-color-pass;

        .checkmark {
          &::before {
            content: '✔';
            color: @text-color-pass;
          }
        }
      }

      &.fail {
        background-color: @bgcolor-fail;
        color: @text-color-fail;

        .checkmark {
          &::before {
            content: '✖';
            color: @text-color-fail;
          }
        }
      }
    }
  }
}

.footer {
  font-size: 1rem;
  margin-bottom: 1rem;

  .copy {
    font-size: 1.4rem;
  }
}
