@font-family-sans: 'Montserrat',Roboto, Arial,Helvetica,sans-serif;
@font-family-mono: 'Roboto Mono','Courier New',monospace;
@font-family-serif: Georgia,Cambria,'Times New Roman',Times,serif;
@bgcolor-body: #000;
@bgcolor-pagewrap: transparent;

@bgcolor-modal: rgba(0,0,0,0.4);
@bgcolor-modal-content: #dcdcdc;

@text-color-body: #ccc;
@font-size-body: 100%;

@z-index-modal: 10;

@width-page-wrap: 860px;

@bgcolor-pass: #393;
@bgcolor-fail: #933;

@text-color-pass: #cfc;
@text-color-fail: #fcc;

body {
  margin: 0;
  padding: 0;
  font-family: @font-family-sans;
  background-color: @bgcolor-body;
  font-size: @font-size-body;
  color: @text-color-body;
}

a {
  text-decoration: none;
}

#ua-target {
  font-family: @font-family-mono;
  color: @text-color-pass;

  &.fail {
    color: @text-color-fail;
  }
}

.pagewrap {
  width: 100%;
  max-width: @width-page-wrap;
  margin: 0 auto;
  text-align: left;
  padding: 0 3%;
  background-color: @bgcolor-pagewrap;
}

pre, code {
  //color: #333;
  //font-size: 1.1rem;
  font-family: @font-family-mono;
}

.header {
  width: 100%;

  h1 {
    font-size: 1.5rem;
    line-height: 1.2;
  }
}

.section {

  h2 {
    font-size: 1rem;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0.1rem 0;
      padding: 0.2rem;
      line-height: 1.0;
      display: block;
      width: 100%;
      min-height: 2.2rem;
      cursor: pointer;

      code {
        font-weight: bold;
        color: #ff6;
      }

      .row {
        display: table-row;
        width: 100%;

        span {
          display: table-cell;
          height: 100%;
          vertical-align: middle;
        }
      }

      .descr {
        code {
          font-size: 1.1rem;
        }
      }

      .checkmark {
        width: 2rem;
        text-align: center;

        &::before {
          font-size: 2rem;
        }
      }

      &.pass {
        background-color: @bgcolor-pass;
        color: @text-color-pass;

        .checkmark {
          &::before {
            content: '✔';
            color: @text-color-pass;
          }
        }
      }

      &.fail {
        background-color: @bgcolor-fail;
        color: @text-color-fail;

        .checkmark {
          &::before {
            content: '✖';
            color: @text-color-fail;
          }
        }
      }
    }
  }
}
