
/* small screen only */

@media screen and (max-width: 540px) {

  .section ul {
    width: auto;
    margin: 0 auto;

    li {
      display: block;
      margin: 0.1rem;
      width: 100%;
      border-radius: 4px;
    }
  }
}
